/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
   text-align: center;

}
#features img{
   margin: 0 0 20px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */
.well .page-header
{
   margin-top:0;
}

.well .page-header h1
{
   margin-top: 0;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput
   {
      width:200px;
   }
   .navbar-brand
   {
      padding : 13px 15px;


   }


/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel
{
   margin-top: 60px;
}

#myCarousel .item
{
   height:400px;
}
#slide3
{
   background: url('../../images/carousel_medium_03.jpg')top center no-repeat;
}

}
.wd
{
  width:100%;
  height: 100%;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert
{
   margin-top: 20px;
   display: none;
}
.well
{
   margin-top: 20px;
   margin-bottom: 10px;
}

.tabbable img .thumbnail
{
 margin:0 20px 10px 0;
}





}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  #cen1{
    text-align: right;
  }
  #cen2{
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
  }
  #rgt{
    margin-left: 0;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#myCarousel .item
{
   height:310px;
}

{
   background: url('../../images/carousel_small_03.jpg')top center no-repeat;
}
.a1
{
  height:552px;
}
#cen1{
  text-align: right;
  padding-right: 0;

}
#cen2{
  text-align: left;
  padding-top: 10px;
  margin-left: 0;

}
#rgt{
  padding-top: 10px;
  text-align: right;


}

}
.a1
{
  height:560px;
}
@media(min-width:763px) and (max-width:991px)
{
.c{
  height:658px;
}
}
@media(min-width:992px) and (max-width:1199px)
{
.c{
  height:651px;
}
}

/* Large desktop */
@media (min-width: 1200px) {

#myCarousel .item
{
   height:500px;
}
#slide3
{
   background: url('../../images/carousel_large_03.jpg') top center no-repeat;
}
#cen2 {
  text-align: center;

}
#rgt{
  text-align: left;
}
.a1
{
  height:484px;
}
}
footer {
/*<!--	background: #333;-->*/
background-color: white;
border-top: 1px solid #000;

	color: #eee;
	font-size: 11px;
	padding: 20px;
}
.ic{
  width: 30px;
  height: 30px;
}
.sh li
{
  display: inline;
  list-style: none;

}
.sh
{
  margin-left:0px;
}
.map
{
text-align:center;
}
.navbar-left h4{
  padding-top: 7px;
  padding-left: 3px;
}
.carousel-caption h4
{
  font-size: 30px;
  font-family: 'Francois One', sans-serif;

}
.carousel-caption{
  background: black;
  opacity: 0.6;
}
.carousel-caption p{
  font-size: 20px;
}
.col-12 h3
{
  text-align: center;
}
.cen
{
  text-align: center;
}
.ft{
  margin-left:2px;
}
#slide1
{
   background: url('../../images/c11.jpg')  no-repeat;
   background-size: cover;
 	background-attachment: fixed;
     width:100%;
     height: 100%;

}
#slide2
{
   background: url('../../images/c2.jpg')  no-repeat;
   background-size: cover;
   background-attachment: fixed;
     width:100%;
     height: 100%;
  }
